<ion-view title="Fortes TimeWizard">
  <ion-content class="padding">
		<div class="item item-divider">
          Próxima Quebra de Regra
        </div>
		<ion-item>
  			<h1>01:37</h1>				
        </ion-item>

        <div class="item item-divider">
          Trabalhado no Turno
        </div>
		<ion-item>
  			<h1>05:23</h1>				
        </ion-item>

		<div class="item item-divider">
          Trabalhado no Dia
        </div>
		<ion-item>
  			<h1>08:10</h1>				
        </ion-item>      

  </ion-content>
</ion-view>
