<ion-view hide-nav-bar=true>
    <div class="bar bar-header bar-assertive">
      <h1 class="title">Informações</h1>
    </div>  
  <ion-content padding=true style="margin-top:50px;">     
    <div class="list pane">     
        <ul class="list">
            <h1 class="title">Regras</h1>
          <li class="item item-icon-right">
             Turno Máximo
              <a class="button button-icon icon ion-information-circled" href="#/tab/turnoMaximo"></a>              
          </li>
          <li class="item item-icon-right">
             Interjornada
            <a class="button button-icon icon ion-information-circled"></a>
          </li>    
          <li class="item item-icon-right">
             Horas Trabalhadas por dia
            <a class="button button-icon icon ion-information-circled"></a>
          </li>    
          <li class="item item-icon-right">
             Esquecimento de Batida
            <a class="button button-icon icon ion-information-circled"></a>
          </li>    
        </ul>
    </div>
  </ion-content>
</ion-view>
