<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-assertive">


  <!-- Home Tab -->
  <ion-tab title="Início" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Alarmes Tab -->
  <ion-tab title="Registros" icon="icon ion-clock" href="#/tab/registros">
    <ion-nav-view name="tab-registros"></ion-nav-view>
  </ion-tab>


  <!-- Configurações Tab -->
  <ion-tab title="Configurações" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
